.layout {
    display: flex;
}

.layout-main {
    /* inline-size: 100%; */
    display: none;
}

.layout-block {
    display: block;
}

.layout-sidebar-relative {
    position: relative;
}

.layout-main-absolute {
    display: block;
    position: absolute;
    inline-size: 100vw;
    box-sizing: border-box;
    top: 0;
    z-index: 1;
}

@media screen and (min-width:768px) {
    .layout {
        display: flex;
    }
    .layout-main {
        inline-size: 100%;
        display: block;
    }
    .layout-sidebar {
        position: static;
    }
    .layout-main-absolute {
        display: block;
        position: static;
        /* inline-size: 100vw; */
        top: auto;
        z-index: auto;
    }
}