.layout {
    display: flex;
}

.layout-main {
    /* inline-size: 100%; */
    display: none;
}

@media screen and (min-width:768px) {
    .layout-main {
        inline-size: 100%;
        display: block;
    }
}